/*  css reset  */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Abril Fatface", cursi;
}

html {
  font-size: 62.5%;
}

/*  navbaar css  */

.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.296);
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 15px 1px 15px 7px rgba(0, 0, 0, 0.631);
}

.navbar img {
  width: 7.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar p {
  display: inline;
  padding: 0.1rem 0.1rem;
  color: aliceblue;
  text-shadow: 0.9rem 0.7rem 0.6rem black;
  margin: 0rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 3rem;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 2;
  width: 45rem;
  width: 1rem 1rem;
}

.navbar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s;
  font-size: 2rem;
}
.active {
  font-size: 2.5rem;
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
  background-color: rgba(0, 255, 242, 0.631);
}

.navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.529);
  padding: 0.2rem 1.3rem;
  font-size: 2.5rem;
  border-radius: 1rem;
}

/*  header css  */

header {
  background-color: rgba(80, 78, 78, 0.151);
  width: 100vw;
  padding-bottom: 3rem;
}

header::before {
  content: "";
  background-image: url("../../img/bg1.jpg");
  position: absolute;
  height: 83%;
  width: 100vw;
  z-index: -1;
  opacity: 0.9;
}

header p {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 3em;
  text-transform: capitalize;
  margin: 4rem 4.7rem;
  color: white;
  text-shadow: 0.9rem 0.7rem 0.6rem black;
  padding: 1.2rem 1.7rem;
}

header p span {
  color: rgb(0, 255, 255);
  margin: 0.5em;
  font-weight: bolder;
}

.d-btn {
  margin: 0.1rem 6.8rem;
}
.btn {
  margin: 0em 1.1em;
  height: 2em;
  width: 11em;
  border: none;
  box-shadow: 1.5rem 0.1rem 1.5rem 0.7rem rgba(0, 0, 0, 0.631);
  border-radius: 0.7rem;
  text-transform: capitalize;
  font-size: 1em;
  transition: all 0.5s;
}

.o-btn {
  background-color: aqua;
  border: 0.2px white solid;
}
.o-btn:hover {
  background-color: rgba(224, 254, 255, 0.576);
  height: 2.2em;
  width: 11.2em;
  font-size: 1.2em;
}
.f-btn {
  background-color: rgb(224, 254, 255);
  border: 0.2px aqua solid;
}
.f-btn:hover {
  background-color: rgba(0, 255, 255, 0.705);
  height: 2.2em;
  width: 11.2em;
  font-size: 1.2em;
}

/* css for main  */

/* utlity  */
.flex {
  display: flex;
  justify-content: space-around;
  /* margin: 2em 0em; */
}

.p-heading {
  color: rgb(241, 233, 233);
  text-transform: capitalize;
  margin-top: 1.5em;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  text-shadow: 0.7rem 0.5rem 1rem rgb(75, 72, 72);
}

.s-heading {
  color: rgb(0, 255, 255);
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0.7rem 0.8rem 1rem rgb(75, 72, 72);
}
.img {
  height: 26rem;
  margin: 2rem auto;
}

.center {
  border: 0.2rem rgba(120, 239, 255, 0.658) solid;
  background-color: rgba(66, 63, 63, 0.356);
  width: 29rem;
  height: 35rem;
  border-radius: 1.2rem;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin: 4rem;
  box-shadow: 0.9rem 0.6rem 2.7rem 0.8rem rgb(0 0 0 / 63%);
}

.center:hover {
  width: 30rem;
  height: 35.5rem;

  background-color: rgba(0, 255, 255, 0.151);
}

/* css for  section 1 our product  */
#product {
  background-image: url("../../img/bg2.jpg");
  padding: 1rem 1rem;
  background-repeat: no-repeat;
  background-size: 135rem 58rem;
}

#burrger {
  width: 100%;
}
#dosa {
  width: 95%;
}

#fingers {
  width: 90%;
}

#pizza {
  width: 90%;
}

/* css for  section 2 cheaf */

#chefs {
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: rgba(90, 89, 89, 0.15);
  background-image: url("../../img/bg4.jpg");
  background-repeat: no-repeat;
  background-size: 136rem 53rem;
}

/* footer  */

footer {
  padding: 0.2rem 0rem;
  background-color: #1c04b923;
  color: #4b4c4d;
  border-radius: 2rem;
}

footer::before {
  content: "";
  background-image: url("../../img/bg3.jpg");
  position: absolute;
  height: 22rem;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 135rem 47rem;
  z-index: -1;
  opacity: 0.9;
}

footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 2.5em;
}

footer li {
  display: inline-block;
  padding: 0 1rem;
}

footer ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 1;
}

footer ul a:hover {
  opacity: 1;
  color: #4b4c4d;
}

footer .social {
  text-align: center;
  padding-bottom: 1rem;
}

footer .social > a img {
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  border: 0.1rem solid #ccc;
  margin: 0.8rem;
}

footer .social > a img:hover {
  opacity: 0.5;
}

footer .copyright {
  display: inline;
  margin-top: 0.2rem;
  margin-left: 2em;
  text-align: left;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0rem;
}

/* side nav */
.sidenav {
  position: fixed;
  width: 6.5rem;
  right: 0.5rem;
  top: 25%;
  bottom: 25%;
}

.sidenav img {
  display: block;
  height: 3rem;
  margin: 2.5rem auto;
  pointer-events: painted;
}

/* media quries for tablates */

@media only screen and (max-width: 900px) {
  /* for font-size */
  html {
    font-size: 50%;
  }

  /* css for main */

  /* utility */
  .flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /* section 1 */
  #product {
    background-size: 125rem 97rem;
  }
  /* section 2 */
  #chefs {
    background-size: 111rem 97rem;
  }
}

/*  responsive code  for mobile phone */
@media only screen and (max-width: 600px) {
  /* for font size  */
  html {
    font-size: 43%;
  }

  /* navbar */

  .logo {
    justify-content: center;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
  }

  /* main */

  /* utility  */

  .flex {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .center {
    width: 55rem;
    height: 44rem;
  }
  .center:hover {
    width: 55.5rem;
    height: 44.5rem;
  }
  .img {
    height: 34rem;
  }
  /* section 1  */
  #product {
    background-size: 125rem 219rem;
  }
  /* section 2 */
  #chefs {
    background-size: 111rem 219rem;
  }
  /* sidenav */
  .sidenav {
    display: none;
  }
}

/* media queris for small mobile  */

@media only screen and (max-width: 480px) {
  /* font size  */
  html {
    font-size: 35%;
  }
}
